h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    animation: float 3s ease-in-out infinite;
    -webkit-animation: float 3s ease-in-out infinite;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    left: 30%;
    right: 30%;
    position: relative;
    font-size: 2em;
}

.cost {
    font-size: 1em;
    color: gray;
    font-style: italic;
}

@keyframes float {
    0% {
        transform: translateY(.6em);
        -webkit-transform: translateY(.6em);
        -moz-transform: translateY(.6em);
        -ms-transform: translateY(.6em);
        -o-transform: translateY(.6em);
    }

    50% {
        transform: translateY(0em);
        -webkit-transform: translateY(0em);
        -moz-transform: translateY(0em);
        -ms-transform: translateY(0em);
        -o-transform: translateY(0em);
    }

    100% {
        transform: translateY(.6em);
        -webkit-transform: translateY(.6em);
        -moz-transform: translateY(.6em);
        -ms-transform: translateY(.6em);
        -o-transform: translateY(.6em);
    }
}

p {
    font-family: 'Open Sans', sans-serif;
    left: 30%;
    right: 30%;
    position: relative;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

img {
    left: 30%;
    right: 30%;
    position: relative;
}

button {
    left: 30%;
    right: 30%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    background-color: rgb(225, 225, 225);
    border: 0;
    font-size: 1.5em;
    padding: .4em;
    transition: 100ms;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
    box-shadow: rgba(83, 83, 83, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    color: black;
    height: fit-content;
    width: fit-content;
}

button:hover {
    background-color: rgb(241, 239, 239);
    transition: 100ms;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
}

button:active {
    background-color: rgb(210, 210, 210);
    transition: 50ms;
    -webkit-transition: 50ms;
    -moz-transition: 50ms;
    -ms-transition: 50ms;
    -o-transition: 50ms;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

#upgrades {
    position: relative;
}

#specialUpgrades {
    position: relative;
}